# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
#your code here
spaceship.shape

(8693, 14)

**Check for data types**

In [4]:
#your code here
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

**Check for missing values**

In [5]:
#your code here
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [16]:
#your code here
spaceship_2 = spaceship.dropna()

In [17]:
spaceship_2.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [18]:
# change "Transported" into numbers so we can make it a Target

spaceship_2["Transported"] = spaceship_2["Transported"].astype(int)

/var/folders/v4/fgnr7b6s2fdbdy6vyj585tz40000gn/T/ipykernel_12025/2289141469.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship_2["Transported"] = spaceship_2["Transported"].astype(int)

In [20]:
spaceship_2.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1

In [21]:
#your code here

spaceship_num = spaceship_2.select_dtypes( include = ["number"] )

In [22]:
spaceship_num

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0     39.0          0.0        0.0           0.0     0.0     0.0            0
1     24.0        109.0        9.0          25.0   549.0    44.0            1
2     58.0         43.0     3576.0           0.0  6715.0    49.0            0
3     33.0          0.0     1283.0         371.0  3329.0   193.0            0
4     16.0        303.0       70.0         151.0   565.0     2.0            1
...    ...          ...        ...           ...     ...     ...          ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0            0
8689  18.0          0.0        0.0           0.0     0.0     0.0            0
8690  26.0          0.0        0.0        1872.0     1.0     0.0            1
8691  32.0          0.0     1049.0           0.0   353.0  3235.0            0
8692  44.0        126.0     4688.0           0.0     0.0    12.0            1

[6606 rows x 7 columns]

And also lets define our target.

In [23]:
#your code here

target = spaceship_num["Transported"]

In [24]:
target

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 6606, dtype: int64

In [25]:
features = spaceship_num.drop(columns = "Transported")

In [26]:
features

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[6606 rows x 6 columns]

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [27]:
#your code here

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [28]:
X_train

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
3432  32.0          0.0        0.0           0.0     0.0     0.0
7312   4.0          0.0        0.0           0.0     0.0     0.0
2042  30.0          0.0      236.0           0.0  1149.0     0.0
4999  17.0         13.0        0.0         565.0   367.0     1.0
5755  26.0          0.0        0.0           0.0     0.0     0.0
...    ...          ...        ...           ...     ...     ...
6518  53.0          0.0        0.0           0.0     0.0     0.0
4317  36.0          0.0        0.0           0.0   725.0     2.0
2214  36.0          0.0     4756.0           0.0  7818.0    96.0
3468  34.0          0.0        4.0           0.0   685.0  1779.0
3642  14.0          2.0      881.0           0.0   578.0   214.0

[5284 rows x 6 columns]

In [29]:
 X_test

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
2453  50.0          0.0        0.0           0.0     0.0     0.0
1334  18.0          0.0        0.0           0.0     0.0     0.0
8272  15.0          0.0        0.0           0.0     0.0     0.0
5090  52.0          0.0        0.0           0.0     0.0     0.0
4357  62.0          0.0     1633.0           0.0  1742.0     0.0
...    ...          ...        ...           ...     ...     ...
85    19.0          0.0        0.0         670.0     1.0    34.0
6816  37.0        300.0     3434.0           0.0     1.0   171.0
5926  43.0          2.0     5329.0           0.0     7.0     0.0
3793  14.0          0.0        0.0           0.0     0.0     0.0
6640  31.0          0.0        0.0           0.0     0.0     0.0

[1322 rows x 6 columns]

In [30]:
y_train,

(3432    0
 7312    1
 2042    0
 4999    0
 5755    1
        ..
 6518    0
 4317    0
 2214    0
 3468    0
 3642    0
 Name: Transported, Length: 5284, dtype: int64,)

In [31]:
y_test

2453    1
1334    0
8272    1
5090    0
4357    1
       ..
85      0
6816    1
5926    1
3793    1
6640    1
Name: Transported, Length: 1322, dtype: int64

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [35]:
#your code here

from sklearn.neighbors import KNeighborsClassifier

In [37]:
knn = KNeighborsClassifier(n_neighbors=3)

Fit the model to your data.

In [38]:
#your code here

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

Evaluate your model.

In [39]:
#your code here
pred = knn.predict(X_test)
pred

array([1, 1, 1, ..., 1, 1, 0])

In [40]:
y_test.values

array([1, 0, 1, ..., 1, 1, 1])

In [41]:
# accuracy score:

knn.score(X_test, y_test)

0.7337367624810892

**Congratulations, you have just developed your first Machine Learning model!**